/*************** General **********************/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    width: 1280px; 
    font-family: 'Poppins', sans-serif;
}

.body-connection {
    overflow: hidden;
}

a {
    color: white;
    text-decoration: none;
}

/***********************************************/
/***************** Main page *******************/
/***********************************************/

/***************** Header **********************/

header {
    background: #0F9D58;
  /*background: #e84118 // #0F9D58 // #4285F4;*/
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 60px;
}

.logo {
    width: 20%;
    position: absolute;
    left: 10px;
    top: 5px;
}

.search-box {
    position: absolute;
    left: 500px;
    top: 30px;
    transform: translate(-50%,-50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 5px;
}

.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 10px;
}

.search-box:hover > .search-btn {
    background: white;
}

.search-btn {
    color: #F4B400;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;
}

header > nav {
    position: absolute;
    top: 20px;
    left: 770px;
    height: 60px;
}

.srt-menu li {
    display: inline;
    list-style: none;
    padding: 0;
}
 
.srt-menu li a {
    border: 1px solid white;
    padding: 15px 20px 15px 20px;
    text-decoration: none;
    color:black;
    margin-left: -5px;
    /* This is the background used for the animation */
    background-image: url('../images/image.jpg');
    /* Align the background image position to the left of the link */
    background-position: left;
    -webkit-transition: all 0.8s ease-in-out;
    /* Animation with transition in Firefox (No supported Yet) */
    -moz-transition: all 0.8s ease-in-out;
    /* Animation with transition in Opera (No supported Yet)*/
    -o-transition: all 0.8s ease-in-out;
}

.srt-menu li a:hover {
    color: white;
    /* Align the background image position of the background to the right*/
    background-position: right;
}

/*************** Corps **********************/

.main {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.left-side {
    display: flex;
    width: 20%;
    justify-content: flex-start;
    flex-direction: column;
    border-right: 1px solid grey;
}

.right-side {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 77%;
    box-shadow: 0px 0px 2px 2px rgba(80, 64, 64, 0.5);
    padding: 10px;
    border-radius: 4px;
    overflow: auto;
}

#accordion li {
    list-style: none;
}

#accordion li:hover a {
    text-decoration: underline;
    color: blue;
}

#accordion a {
    color: black;
    display: inline-block;
    font-weight: 600;
}

#accordion a::before {
    content: url("../images/punaise-jaune.png")" ";
}

#accordion h4 {
    background: #4285F4;
    text-align: center;
    line-height: 30px;
    margin-right: 20px;
}

.produit {
    border: 2px solid green;
    width: 30%;
    height: 370px;
    position : relative;
    background-color: rgba(255,255,255,0);
	box-shadow : 0px 0px 6px 2px rgba(244,160,0,0.8) inset;
	border-radius : 4px;
	margin : 5px 2px;
}

.produit .nom {
    color: black;
    background: #4285F4;
    text-align: center;
    height: 25px;
    font-weight: 600;
    margin-top: 5px;
    padding-top: 10px;
}

.produit > p {
    width: 80%;
    text-align: center;
    margin: 5px auto;
    box-shadow : 0px 0px 4px 2px  rgba(244,160,0,1) inset;
	border-radius : 4px;
}

.produit p.image {
    margin: 8px auto;
}

.produit p > img {
    width: 80%;
}

.produit .description {
    height: 70px;
    padding: 5px;
}

.produit .categorie {
    text-transform: uppercase;
    height: 25px;
    padding-top: 3px;
    background: green;
    color: white;
    font-weight: 500;
}

.produit .prix {
    position : absolute;
	top : 300px;
	right : 15px;
	font-size : 14px;
    width: 40%;
	display : inline-block;
    background: #DB4437; /* rgb(200,0,0) */
	color : white;
	padding : 4px;
	border-radius : 4px;
}

.produit .date p {
    position: absolute;
    top: 330px;
    right: 140px;
    width: 50%;
    border: 0px;
    font-style: italic;
}

.produit .date p span {
    color: darkgrey;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

footer .links_container {
    background: #0F9D58; /*#373737*/
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
    padding-top: 20px;
}

footer .links_container .links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

footer .links_container .links h3 {
    background: -webkit-linear-gradient(#fff, #777);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.3em;
    margin: 10px auto;

}

footer .links_container .links nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer .links_container .links nav a {
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

footer .links_container .links nav a:hover {
    color: #1c77cf;
    text-decoration: underline;
}

footer .links_container .links nav a img {
    max-width: 9%;
    margin-right: 50px;
}

footer .brand {
    background: #033f60;
    height: 10%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 0.8em;
    font-style: italic;
}

footer .brand p {
    color: #FFF;
}

/***********************************************/
/************* Connection page *****************/
/***********************************************/

.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.img img{
	width: 500px;
}

form{
	width: 360px;
}

.login-content img{
    height: 100px;
}

.login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 0;
	transform: translateY(-150%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #38d39f;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}

.index.html a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

.index.html a:hover{
	color: #38d39f;
}

.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}


@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}